
body {
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }



img{
    max-width: 100%;
    max-height: 100%;
  }

  .img-smarphone{
    max-block-size: 0px;
  }

.topbar-list{
    list-style-type: none;
    text-align: center;
    background: rgb(85 , 102, 15);
  }

  .topbar-list li{
    margin-top: 5px;
  }

  .topbar-list li img{
  display: grid;
  margin: 5px;
  text-decoration: none;
  }

.navbar-list{
  list-style-type: none;
  overflow: hidden;
  background-color:white;
}

.navbar-list li{
  float:right;
  
}

.navbar-list li a{
  display: block;
  color: black;
  padding: 0 30px;
  text-decoration: none;
}

.navbar-list li a:hover{
  transform: scale(1.1);
}

.obrpad{
  border: 1px solid powderblue;
  padding: 50px;
}

.obrmar{
  border: 1px solid powderblue;
  margin: 50px;
}

